# --- Web Sunucusu ve Arayüz ---
fastapi
uvicorn
websockets
jinja2
python-multipart

# --- Yapay Zeka Motoru (GGUF) ---
llama-cpp-python

# --- Ses İşleme (Kulak) ---
faster-whisper
SpeechRecognition
PyAudio

# --- Araçlar ve Mantık ---
duckduckgo-search
ddgs
requests
python-dotenv
aiohttp
thefuzz
# --- RAG ve Vektör Veritabanı ---
chromadb
sentence-transformers
